body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: monospace;
    font-size: x-large;
    margin: 0;
}

.navbar {
    background-color: rgb(31, 31, 31);
}

.navbar .active {
    background-color: rgb(115, 40, 255);
}

.menu a {
    padding: 0 20px;
    border-left: 1px solid white;
}

#logo {
    color:rgb(115, 40, 255);
    cursor: pointer;
    margin: 0;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

#gallery img {
    width: 30%;
    border: 2px solid rgb(115, 40, 255);
    border-radius: 7px;
    box-shadow: 0 0 80px rgb(115, 40, 255);
}

.artist {
    box-sizing: border-box;
    border: 3px solid rgb(115,40,255);
    text-align: center;
}

.artist img {
    width: 60%;
}

.mini {
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid rgb(115,40,255);
    width: 20%;
    max-height: 350px;
}

.btn {
    background-color: rgb(115,40,255);
    color: white;
    padding: 2px 10px;
    font-size: large;
    font-family: monospace;
    cursor: pointer;
    border-radius: 10px;
    margin: 1%;
}


hr {
    color: rgb(115,40,255);
    margin: 1% auto;
    width: 90%;
}




.footer {
    background-color: rgb(31, 31, 31);
    box-sizing: border-box;
    padding: 1%;
}